<div class= "main-contents">
  <%= search_form_for @q, url: search_books_path, html: {id: "detailed-search-form"} do |form| %>
    <h2>更に詳しく検索する</h2>
    <div class="search-field">
      <%= form.label :title_cont, 'タイトルで検索する' %>
      <br>
      <%= form.text_field :title_cont, placeholder: 'タイトル', class: 'search-input' %>
    </div>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <h1 class="announcement">検索結果</h1>
  <div class="contents">
    <% @books.each do |book| %>
      <div class="book">
        <%= link_to book_path(book.id) do %>
          <%= image_tag book.book_image, class: "book-img" %>
        <% end %>
        <div class='book-info'>
          <div class='book-title'>
            <%= book.title %>
          </div>
          <div class='book-category'>
            <span class="sub-title">ジャンル</span>
            <%= book.category.name %>
          </div>
          <div class='book-author'>
            <span class="sub-title">著者</span>
            <%= book.author %>
          </div>
          <% if user_signed_in? %>
          <div id="like-btn<%= book.id %>">
            <%= render partial: "likes/like", locals: { book: book } %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>