<!DOCTYPE html>
<html>
  <head>
    <title>BookManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <header>
      <div class ="header-bar">
        <h1 class="title"><a href="/">Book Management</a></h1>
        <% if user_signed_in? %>
          <div class="login">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "left-btn"%>
            <%= link_to current_user.nickname, root_path, class: "right-btn" %>
          </div>
        <% else %>
          <div class="logout">
            <%= link_to "ログイン", new_user_session_path, class: "left-btn" %>
            <%= link_to "新規登録", new_user_registration_path, class: "right-btn" %>
          </div>
        <% end %>
      </div>
    </header>
      <%= yield %>
    <footer>
      <h1 class="foot-title"><a href="/">Copyright © 2023</a></h1>
    </footer>
  </div>
  </body>
</html>
